@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, @Model.Nome</h1>
    <p>Sistema de Controle de Contatos</p>
    <span>Seu email é @Model.Email</span>
</div>
