
@{
    ViewData["Title"] = "Confirmar exclus達o do contato";
}

<div class="text-center d-grid gap-2">
  <h3>Confirmar exclus達o deste contato?</h3>
  <a class="btn btn-primary" role="button" asp-controller="Contacts" asp-action="Index">Cancelar Exclus達o</a>
  <a class="btn btn-danger" role="button">Confirmar Exclus達o</a>
</div>



